body {
    background-color: white;
}

.navbar-main {
    background-color: #008080; /* Teal */
    margin-bottom: 0 !important;
}

.navbar-title {
    color: #F1F4F5 !important;
    font-size: 24px;
    padding-left: 28px;
    font-weight: 500;
}

.container-header {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-sidebar > li > a.selected {
    background-color: #00A86B; /* Sea Green */
    color: #F9F9F9;
}

.navbar-nav > li > a {
    color: #F1F4F5 !important;
    text-decoration: none !important;
}

.dropdown-menu {
    min-width: 200px;
}

li > a.control {
    color: #008080 !important; /* Teal */
    text-decoration: none !important;
    white-space: inherit !important;
}

li > a.control:hover, li > a.control:focus {
    background-color: #e7e7e7 !important;
}

li > a.disabled {
	pointer-events:none;
	color:gray !important;
}

#control {
	/*height:78%;*/
	overflow-x:auto; 
}

#footer {
	margin-right: 30px;
}

.hidden-upload {
	display:none !important;
}
.hidden-upload-2 {
	display:none !important;
}
.hidden-upload-4 {
	display:none !important;
}
.responsive-img {
	width: 100%;      /* Makes the image width responsive to the container */
	max-width: 650px; /* Maximum width of the image */
	height: auto;     /* Maintains aspect ratio */
  }
.hidden-upload-mitre {
	display:none !important;
}

.alert-input {
	width: 200px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-bayes {
    color: white;
    background-color: #00A86B; /* Sea Green */
    width: 120px;
}

.btn-bayes:hover, .btn-bayes:focus {
    background-color: #20B2AA; /* Light Sea Green */
    color: gray;
}

.btn-bayes-short {
    color: white;
    background-color: #00A86B; /* Sea Green */
    width: 70px;
}

.btn-bayes-short:hover {
	background-color: #00A86B;
	color:gray;		
}

.btn-bayes-short:focus {
	background-color: #00A86B;
	color:gray;	
}

.btn-bayes-grp {
    color: white;
    background-color: #00A86B; /* Sea Green */
    width: 100px;
}

.btn-bayes-grp2 {
    color: white;
    background-color: #00A86B; /* Sea Green */
    width: 200px;
}

.btn-bayes-grp:hover {
	background-color: #63CEED;
	color:gray;		
}

.btn-bayes-grp:focus {
	background-color: #63CEED;	
	color:gray;
}

.margin-btn {
	margin-left: 6px;
}

.btn-bayes[disabled] {
    background-color: #777 !important;
}

.small-btn {
    background-color: #999;
    width: 30px;
    text-align: center;
    padding: 0;
}

/*#save-changes-btn {
	width:30%;
}
*/
/*Select*/
.form-control {
	width:60%!important;
	float: left;
}

/* Tables and Components */
#div-update-btn {
	overflow-y: auto;
}

.div-table {
	width :100%;
	height: 188px;
	/*overflow-y: auto;*/
	margin-bottom: 10px;
}

.sample-table {
	width :100%;
	/*height: 328px;*/
	overflow-x: auto;	
}

.table-bayes {
    border-radius: 2px;
}

.cpt-table {
    border: 1px solid #DDDDDD;
}

.cpt-table>thead>tr>th {
	border:1px solid #DDDDDD !important;	
}

.cpt-table>tr>td {
	border:1px solid #DDDDDD;
}

.form-group {
	/*overflow-x:scroll;*/
}
.table-dialog {
	margin-bottom: 0 !important;
}
/*TODO combine these with a class and assign the class to the corresponding elements*/
th {
	text-align: center;
	color : gray;
	/*padding-top:1px;*/
}

td {
	text-align: center;
	color : gray;
	padding-top:1px;
}

/* table inputs */
.editable > input {
	width:60px;
	text-align: center;
	border: 1px solid #2E9DBE;
	border-radius: 4px;
	padding: 4px;
}

input.invalid {
	border-color: red;
}

/*SVG elements*/
#svg {
	/*border:1px solid black;*/
	background: #DFF5F9;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-border-radius:none;
	-moz-border-radius:none;
	-ms-border-radius:none;
	-o-border-radius:none;
	border-radius: 4px;
	/*float:left;	*/
}

g.node circle {
    fill: #f8f8f8;
    stroke: #008080; /* Teal */
    stroke-width: 1px;
}

g.node:hover circle {
    fill: #E0F0F0; /* Light Teal */
}

g.node.selected circle {
    stroke: #006400; /* Dark Green */
    stroke-width: 2px !important;
}

g.node.selected:hover circle {
    fill: #C1FFC1 !important; /* Light Green */
}

g.node circle.link-node {
    fill: #008080; /* Teal */
    stroke: #008080; /* Teal */
}

g.node.selected circle.link-node {
    fill: #006400; /* Dark Green */
    stroke: #006400; /* Dark Green */
}

path.conn {
    fill:none;
    stroke: #00A86B; /* Sea Green */
    stroke-width: 5px;
    cursor:default;
}

path.conn.selected {
    stroke: #006400 !important; /* Dark Green */
}

path.conn.selected:hover {
    stroke: #008000 !important; /* Green */
    stroke-width: 0;
}

path.conn.dragline{
	pointer-events:none;
}

path.conn.selected:hover {
	stroke:#D265A5 !important;
}

path.arrow {
    fill: #00A86B; /* Sea Green */
}

.node-label {
    color: #008080; /* Teal */
}

.node-label:hover {
    color: #00A86B !important; /* Sea Green */
}

.node-input {
    color: #008080; /* Teal */
}

/*Text */
.node-title {
	font-size:16px;
	font-family: sans-serif;
	/*fill : rgb(76, 69, 69);*/
	fill:black;
	font-weight:300;	
}

.instructions-text-title {
    color: #006400; /* Dark Green */
}

.instructions-text-control {
    color: #008080; /* Teal */
}

.zoom-text {
    color: #008080; /* Teal */
}

.footer-text {
    color: #008080; /* Teal */
}

.notice-text {
    color: #006400 !important; /* Dark Green */
}

.csv-settings-text {
    color: #008080; /* Teal */
}

input.csv-header {
    color: #008080; /* Teal */
}